<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="agencies.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let agency of agencies">
    <mat-expansion-panel-header>
      {{ agency.description }}
      Método de pago : {{ agency.payment_method_id }}
    </mat-expansion-panel-header>
    <p>Código de agencia : {{ agency.agency_code }} Site : {{agency.site_id}} </p>
    <p>Dirección : {{ agency.address.address_line }} Ciudad : {{agency.address.city}} Provincia:
      {{agency.address.state}} - Código postal: {{agency.address.zip_code}} - Teléfono: {{agency.phone}}</p>

  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="agencies.length <= 0 && !isLoading">No hay agencias</p>